---
Version: 1
Created: 2026-05-28T20:25:18+00:00
Updated: 2026-05-28T20:25:18+00:00
Author: BionicCode
---
--------------------------------------------------------------------------------


jsonschema>=4,<5
